<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @article, html: {multipart: true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <br>
  <%= f.label :content %>
  <%= f.text_area :content %>

  <br>

 <%= f.fields_for :images do |builder| %>
 
  <div class="field">
    <%= builder.label :photo %><br/>
    <%= builder.file_field :photo, :rows => 3 %>
  </div>
<% end -%>

 <%= f.submit 'Save' %>

<% end %>